html, body {
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.bg {
	/* opacity: 0.85; */
	background: url("./main_background_pic_4.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: fixed;
	background-color: black;
	height: 100%;
}

.main_heading_1 {
	font-size: 80px;
	color: white;
	text-align: center;
	padding-top: 100px;
}

.main_heading_2 {
	font-size: 40px;
	color: white;
	text-align: center;
}

.buy_heading_1 {
	font-size: 60px;
	color: white;
	text-align: center;
	padding-top: 40px;
}

.buy_heading_2 {
	font-size: 30px;
	color: white;
	text-align: center;
}

.result_heading_1 {
	font-size: 40px;
	color: white;
	padding-top: 30px;
	padding-left: 40px;
}

.result_heading_2 {
	font-size: 40px;
	color: white;
	text-align: center;
}

.confirm_heading_1 {
	font-size: 80px;
	color: white;
	text-align: center;
	margin-top: 120px;
}

.important_info {
	font-size: 20px;
	color: white;
}

.other_info {
	padding-top: 20px;
	line-height: 8px;
	font-size: 15px;
	color: white;
}

.main_p {
	font-size: 24px;
	padding-top: 124px;
	color: white;
	text-align: center;
}

/* 
button css code from w3school 
*/
.button {
    padding: 8px 32px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button2 {
    background-color: transparent; 
    color: white; 
    border: 2px solid white;
}

.button2:hover {
    background-color: #008CBC;
    color: white;
    border: 2px solid #008CBC;
}

.button3 {
	padding: 32px 10px;
	border-radius: 50%;
    background-color: transparent; 
    color: green; 
    border: 2px solid green;
}

.button3:hover {
    background-color: green;
    color: white;
    border: 2px solid green;
}

.button4 {
	padding: 32px 26px;
	border-radius: 50%;
    background-color: transparent; 
    color: red; 
    border: 2px solid red;
}

.button4:hover {
    background-color: red;
    color: white;
    border: 2px solid red;
}

.button5 {
	padding: 34px 12px;
	border-radius: 50%;
    background-color: transparent; 
    color: grey; 
    border: 2px solid grey;
}

.button5:hover {
    background-color: grey;
    color: white;
    border: 2px solid grey;
}

/* 
end code from w3school 
*/